/* Simple Normalize CSS */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    border: none;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}
